<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
  <appSettings>
    <add key="TimeRestart" value="6000"/>
    
    <add key="AccountFTP" value="anhnth27@fpt.com.vn"/>
    <add key="PasswordFTP" value="Quenroi@1234"/>
    
    <add key="FromTemplatePath" value="Quenroi@1234"/>
    <add key="ToTemplatePath" value="Quenroi@1234"/>
    <add key="FromUploadPath" value="C:\\FileSend"/>
    <add key="ToUploadPath" value="ftp://10.15.163.49//file//"/>
    
    <add key="FileExtension" value=".xlsx, xls"/>
  </appSettings>
</configuration>